* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}

h1,h2,p {
    margin: 0;
}

.container {
    max-width: 1400px;
    padding: 0 0px;
}

.btn {
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: var(--co-bl);
    transition: oppacity 0.3s;
}

.btn:hover {
    outline: 2px solid var(--co-drbl);
    opacity: 0.7;

}