.footer {
    padding: 100px 50px;
}

.footer__title {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    background: linear-gradient(to right, #172774, #002265);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .1em;
    margin-bottom: 70px;
}

.container span::not(.footer__title) {
    font-weight: 400;
}

.footer__list {
    display: flex;
    gap: 100px;
}
