.portfolio {
    padding: 100px 0;
}

.portfolio__title {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    background: linear-gradient(to right, #172774, #002265);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .1em;
}

.container span:not(.portfolio__title) {
    font-weight: 400;
}

.portfolio__cards {



}


.portfolio__card {
    display: flex;

}


.cards {
    margin-top: 50px;
    display: flex;
    width: 347px;
    height: 266px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 12px rgba(0, 0, 0, 0.2);
}

.portfolio__logo {
    margin: 20px 20px;
    width: 50px;
    height: 50px;
}

.portfolio__name {
    margin: 20px -5px;
    font-size: 25px;
    font-weight: 600;
    color: var(--co-p);
}

.portfolio__preview {
    position: absolute;
    top: 1610px;
    left: 75px;
}

.portfolio__title1 {
    margin: 20px 20px;
    font-size: 25px;
    font-weight: 600;
    color: #4581f6;
}

.portfolio__desc {
    margin: 55px -80px;
    font-size: 13px;
    font-weight: 600;
    color: #4581f6;

}

.img2 {
    position: absolute;
    top: 1610px;
    left: 510px;
}

.logo2 {
    width: 180px;
    height: 45px;
}

.img3 {
    position: absolute;
    top: 1610px;
    left: 930px;
}