.about {
    padding: 50px 100px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__content {
    max-width: 540px;
}

.about__title {
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--co-we);
}

.about__desc {
    margin-top: 150px;
    font-size: 23px;
    font-weight: 400;
    color: var(--co-liblack);
}

.img1 {
    width: 501px;
    height: 467px;
}